// Colors

$white: #ffffff;
$lipstick: #e41d5d;
$royal: #1a1395;
$purple: #5b1574;
$light-grey: #bcbcbc;
$indigo-blue: #381481;
$dark-grey: #525252;
$dark-navy-blue: #000222;
$slate-grey: #505267;
$off-white: #fbfbfb;
$pale-grey: #cecece;
$ghost-white: #f5f6fa;
$white-smoke: #f8f8f8;